*{
  margin: 0;
  padding: 0; 
}
.section{
  float: left;
  
}

img{
  padding: 5px;
  border-radius: 5%;
}

.container{
  position: absolute;
  left: 8%;
  margin-top: 70px;
  
}
  
.menu{
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 999;
  border-bottom: 1px solid #EFEFEF;
  background: #fff;
}